{% extends 'app_blog/home.html' %}
{% load static %}
{% block content %}
{% spaceless %}

<div>
    <header class="article-block">
        <a href="/"><h3>Головна</h3></a>
        <a href="{% url 'articles-list' %}"><h3>Публікації</h3></a>
    </header>
    <div class="articles-row article-block">
        <h3>
            {{ item.title }}
        </h3>
        <h5>
            {{ item.pub_date|date:"d E Y"|safe|linebreaks }}
        </h5>
    </div>
    <div class="articles-row article-block">
        {{ item.description|escape|safe }}

        {% if item.images.all %}
        {% include 'app_blog/fotorama.html' with images=images %}
        {% endif %}

    </div>
    <div class='clearfix'></div>
</div>
{% endspaceless %}
{% endblock %}
